.d-flex {
  display: flex;
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-70{
  width: 70%;
}
.w-30{
  width: 30%;
}
.w-100 {
  width: 100%;
}
.justify {
  justify-content: space-between;
}
.container {
  width: 85%;
  margin: auto;
  padding-bottom: 86px;
}
.container-card {
  width: 80%;
  margin: auto;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ceo-section-one {
  width: 504px;
  height: 557px;
}
.ceo-section-one img {
  width: 100%;
}
.ceo {
  font-weight: 700;
  font-size: 24px;
  line-height: 149%;
}
.clr-blu {
  color: #146ab0;
}
.abut-ceo {
  font-weight: 700;
  font-size: 18px;
  line-height: 149%;
  color: #000000;
  width: 456px;
}
.vision-mission {
  width: 512px;
  height: 495px;
  background: #ffffff;
  box-shadow: 0px 0px 15px 5px rgba(246, 178, 24, 0.3);
  border-radius: 26px;
  position: relative;
}
.vision {
  width: 493px;
  height: 292px;
  position: absolute;
  top: -108px;
  right: 83px;
}
.vision img {
  width: 100%;
  height: 100%;
}
.vision-content {
  margin-top: 222px;
}
.vision-content p {
  font-weight: 700;
  font-size: 18px;
  line-height: 149%;
  text-align: center;
  color: #000000;
  padding: 0 30px;
}
.mission {
  width: 493px;
  height: 292px;
  position: absolute;
  top: -108px;
  left: 83px;
}
.mission img {
  width: 100%;
  height: 100%;
}
.section-gap {
  margin-top: 80px;
}
.vision-position {
  position: absolute;
  bottom: 147px;
  right: 126px;
}
.mission-position {
  position: absolute;
  bottom: 147px;
  left: 126px;
}
.vision-mission-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}
.our-story-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 149%;
  color: #146ab0;
}
.our-story-content {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 149%;
  color: #000000;
}
.our-story-img {
  width: 540px;
  height: 506px;
}
.our-story-img img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.m-r {
  margin-right: 20px;
}
.m-l {
  margin-left: 20px;
}
.about-us {
  position: relative;
}

.about-us p {
  position: absolute;
  top: 27%;
  left: 39%;
  font-weight: 700;
  font-size: 64px;
  line-height: 149%;
  color: #ffffff;
}
.about-us .mask-img {
  /* -webkit-filter: brightness(0.5); */
  /* filter: brightness(0.5); */
  position: absolute;
  filter: brightness(100%) contrast(100%);
}
.contact-us {
  background-image: url("../Images/Vector\ 2.png");
  background-size: "cover";
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;

  position: relative;

  background-position: center;
  background-size: 20px 20px;
  z-index: 2;
  margin-left: -3px;
}
.map-section {
  display: flex;
  margin: auto;
  width: 80%;
  flex-direction: column;
}
.store-locator {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #146ab0;
}
.map-location {
  border: 2px solid #146ab0;
  border-radius: 26px;
  width: 100%;

  margin-top: 23px;
  display: flex;
}
.map-location-one {
  /* width: 35%; */
}
.map-location-two {
  width: 40%;
}
.iframe {
  width: 100%;
  border-radius: 20px;

  min-height: 595px;
}
.map-location-one {
  padding: 11px 20px;
}
.map-location-mid {
  width: 25%;
}
.map-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  text-decoration-line: underline;
  color: #146ab0;
  padding-bottom: 15px;
}
.map-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #656565;
}
.km {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #146ab0;
}
.pd{
  padding: 6px 0;
}
.products-services{
  font-weight: 600;
font-size: 16px;
line-height: 18px;
padding-top: 11px;


color: #146AB0;
}
.border{
  border: 1px solid #9C9C9C;
  margin-top: 15px;
}
.scroll{
display: flex;
flex-direction: column;
width: 60%;
}
.blue{
  width: 40px;
  height: 40px;
  background-color: #146ab0;
  border-radius: 50%;
}

.white{
  width: 40px;
  height: 40px;
  background-color: white;
  border: #146AB0 1px solid;
  border-radius: 50%;
}
