.BG-img img {
  width: 100%;
}

.BG-img {
  position: relative;
}
.BG-img p {
  position: absolute;
  z-index: 1;
  top: 43%;
  left: 19%;
  font-weight: 700;
  font-size: 75px;
  line-height: 84px;
  color: #ffffff;

  text-shadow: 0px 0px 10px #1872bb;
}
.slider {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.slider::after {
  content: "Slide to Paint";
  position: absolute;
  width: 150px;
  top: 13px;
  left: 88px;
  font-size: 14px;
}

.Products-container {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 250px;
  height: 33px;
  background-color: var(--white);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 46.5px;
}

.slider-close {
  height: 30px;
  background: linear-gradient(90deg, #ffffff 0%, #146ab0 100%);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-top: -35px;
  z-index: 1;
  left: 10px;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../Images/bird\ 2.png");
  background-size: "cover";
  background-repeat: no-repeat;
  background-color: var(--yellow);
  width: 50px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  border: 4px solid #146ab0;
  background-position: center;
  background-size: 20px 20px;
  z-index: 2;
  margin-left: -3px;
}

.slide-close-con {
  width: 200px;
  background-color: blue;
  border-radius: 50%;
}

.products-body {
  background-color: var(--white);
  margin-top: 360px;
}

.products-body img {
  width: 100%;
  height: 100%;
  filter: brightness(100%) contrast(100%);
}

.yellow-banner-con {
  height: 430px;
}

.products-body {
  position: relative;
}

.yellow-ban-data img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
}

.yellow-ban-data {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 300px;
}

.banner-card {
  width: 190px;
  text-align: center;
}

.banner-card-first {
  width: 100px;
  margin-left: 80px;
}

.banner-card-first h1 {
  font-size: 70px;
  font-weight: bold !important;
  color: white;
  margin-left: -60px;
}

.banner-card p {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 8px;
}

.submit-con {
  width: 80%;
  border-radius: 20px;
  box-shadow: 1px 6px 12px 5px rgb(234, 217, 166);
}
.contact-con {
  width: 80%;
  border-radius: 20px;
 
}
.typetwo {
  width: 200px;
  border: none;
  border-bottom: 2px solid #c0c0c0 !important;
  margin-right: 20px;
  outline: none;
  margin-bottom: 40px;
}

.typeone {
  width: 500px;
  border: none;
  border-bottom: 2px solid #c0c0c0 !important;
  margin-right: 20px;
  outline: none;
  margin-bottom: 40px;
}

.input-set-one {
  display: flex;
  justify-content: center;
}

.input-set-two {
  display: flex;
  justify-content: center;
}

.submit-cards {
  padding: 37px 60px 20px 60px;
  background-color: white;
}

.submit-btn {
  text-align: center;
}

.submit-btn button {
  padding: 8px 25px;
  border: 1px solid red;
  color: white;
  border-radius: 5px;
  background-color: red;
  font-size: 18px;
  margin-bottom: 50px;
}

.submit-con {
  position: absolute;
  top: -425px;
  z-index: 2;
}

.sub-con-cen {
  display: flex;
  justify-content: center;
}

.cpr-card-one {
  animation: move 3s infinite;
}
.cpr-card-two {
  animation: center 3s infinite;
  animation-delay: 3s;
}
.cpr-card-three {
  position: absolute;
  left: -500px;
  animation: hide 3s infinite;
  animation-delay: 0.3s;
}
/* @keyframes move {
    0% {
        transform: translateX(0px) scale(1);


    }

    100% {
        transform: translateX(-680px) scale(0.7);

    }
}
@keyframes center {
    0% {
        transform: translateX(0px) scale(0.7) 
    }
    30%{
        transform: translateX(-50px) scale(0.7);
    }
    70%{
        transform: translateX(-250px) scale(0.7);
    }
    100% {
        transform: translateX(-547px) scale(1);
        margin-top: 96px;

    }
}

@keyframes hide{
    0% {
        transform: translateX(0px) scale(1);


    }

    100% {
        transform: translateX(-680px) scale(0.5);
display: none;
    }
} */

/* popupstyle */

.transitionDiv {
  background: red;
  height: 100px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* popupstyle */
