.img-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-img {
    margin-bottom: 26px;
}

.card-img img {
    border-radius: 20px;
}

.card-img-big img {
    border-radius: 20px;
}

.heading-one {
    /* margin-top: 1px; */
    text-align: center;
    margin-bottom: 40px;

}

.view-more-btn {
    text-align: center;
    margin: 40px 0px 80px 0px;
}

.view-more-btn button {
    padding: 8px 25px;
    border: 1px solid red;
    color: black;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
}

.img-cards{
    margin: 0 25px;
}
.img-cards img{
    width: 100%;
}